{{extend 'layout_general.html'}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2" >
                <center><h1>Otras aplicaciones</h1></center>

                <h4>En el marco del Informatorio se impulsó la creación de varias aplicaciones destianadas a promover el turismo chaqueño, ellas son:</h4>


                <hr>

                <h2>Brain Chaco</h2>
                <div class="media-left">
                  <a href=>
                    <img class="media-object" width="75px" src="{{=URL('static', 'images', args='logo-brain.png')}}" />
                  </a>
                </div>
                <div class="media-body">
                  <p>Es un juego que permite al usuario, a través del entretenimiento, obtener conocimiento sobre cultura, geografía, esculturas de la bienal y la historia de la provincia del Chaco.</p>
                  <strong>Grupo: Project One</strong> <br>
                  <p></p>

                </div>

                <hr>

                <h2>BienAll</h2>
                <div class="media-left">
                  <a href="https://159.203.5.192/BienAll/default/index">
                    <img class="media-object" width="75px" src="{{=URL('static', 'images', args='BienAll.png')}}" />
                  </a>
                </div>
                <div class="media-body">
                  <p>Es una aplicación destinada a los visitantes de la Bienal, así como también a los amantes del arte y las fotografías. Permitirá que las personas puedan compartir su experiencia con el arte a través de fotos subidas por ellos mismos.</p>
                  <strong>Grupo: Qbits</strong> <br>
                </div>

                <hr>

                <h2>Chuwal</h2>
                <div class="media-left">
                  <a href="https://infochaco.pythonanywhere.com/Chuwal/chuInterface/chuHome">
                    <img class="media-object" width="75px" src="{{=URL('static', 'images', args='chuwal.png')}}" />
                  </a>
                </div>
                <div class="media-body">
                  <p>Es un juego didáctico cuyo fin es obtener la mayor cantidad de esculturas que puedas conseguir (dentro del juego) por medio de trivias, conociendo sus historias, nombres y creadores.</p>
                  <strong>Grupo: CommonTec</strong> <br>
                </div>

                <hr>

                <h2>GuiarTec</h2>
                <div class="media-left">
                  <a href="https://159.203.5.192/GuiArtec/default/index">
                    <img class="media-object" width="75px" src="{{=URL('static', 'images', args='Logo-GuiarTec.png')}}" />
                  </a>
                </div>
                <div class="media-body">
                  <p>Es una aplicación con la cual los visitantes de Resistencia podrán saber dónde están las esculturas céntricas y como llegar a ellas, por medio de recorridos organizados, donde el usuario podrá cambiar de destino cuando lo desee, además de obtener cierta información de las mismas. </p>
                  <strong>Grupo: Learning Group</strong> <br>
                </div>

                <hr>

                <h2>InformarQ</h2>
                <div class="media-left">
                  <a href="https://159.203.5.192/InformarQ/default/index">
                    <img class="media-object" width="75px" src="{{=URL('static', 'images', args='Logo-InformarQ.png')}}" />
                  </a>
                </div>
                <div class="media-body">
                  <p>Es una aplicación que brinda información a los participantes de la bienal sobre acontecimientos dentro del evento y otros datos de interés general, dando además la opción de sincronización y descarga de estos datos.</p>
                  <strong>Grupo: IN</strong><br>
                </div>

                <hr>
            </div>
        </div>
    </div>

