{{extend 'layout_general.html'}}

<div class="container">
	<div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">

			<!-- <h1 style="text-align: left;">

				<a>esQltoR</a>

			</h1> -->
			<center><img class="img-thumbnail" width="350px" src="{{=URL('static', 'images', args='isoLogo_fondoClaro.png')}}" /></center>
			<h2>
				<font size="4">
				<p align="justify">Esto es esQltoR, una aplicación desarrollada por includeTec, con el objetivo de brindar información de forma rápida y accesible sobre los escultores que se presentan en la Bienal.</p>
				</font>

			</h2>

			<br>

			<!--<h1 style="text-align: left;">

				<a>Informatorio 2016</a>

			</h1> -->
			<center><img class="img-thumbnail" width="350px" src="{{=URL('static', 'images', args='informatorio.jpg')}}" /></center>
			<h2>

				<font size="4">
				<p align="justify">El Informatorio Chaco es un Laboratorio de Capacitaciones Informáticas, una iniciativa que surge como acción 
				concreta luego del trabajo de vinculación entre Universidad, Industria y Estado, quienes se propusieron como 
				estrategia la “Formación de Recursos Humanos en Herramientas Informáticas específicas”.<br>
				El Informatorio tiene centro en el Curso Avanzado de Desarrollo de Aplicaciones Informáticas  destinado a 
				jóvenes sin conocimientos previos de programación y se propone formarlos con la capacidad semejante a la de un 
				técnico informático en el plazo de un año.</p>
				</font>
			</h2>

			<br>

			<!-- <h1 style="text-align: left;">

				<a>includeTec</a>

			</h1> -->
			<center><img class="img-thumbnail" width="350px" src="{{=URL('static', 'images', args='IncludeTec-logo.jpg')}}" /></center>
			<h2>

				<font size="4"><p align="justify">
				Producto del Informatorio 2016 somos un grupo de jóvenes programadores.
				<br>
				Nuestro nombre tiene el significado de "include = incluir" + "tec = tecnología".<br>
				Teniendo como objetivo incluir tecnología en la vida cotidiana para simplificarla y hacerla mejor.</p>
				<br>
				Página de contacto: <a href="https://es-la.facebook.com/includeTec/"><button class="button1">Facebook</button></a>

				</font>
				
			</h2>

			<br>


		</div>
	</div>
</div>
<!--=============================== BOTON ESCULTURA =======================================================================-->
    <center>
<a href='/esQltoR/AcercaDe/aplicaciones'><button class="button3">Otras Apps</button></a></center> 
<!--=============================== END BOTON ESCULTURA =======================================================================-->