{{extend 'layout_general.html'}}

<div class="container">
     <div class="row">
         <div class="col-sm-12 col-md-8 col-md-offset-2" >
<center>
<h1>{{=escultura.f_escultura_nombre}}</h1>
<h3>{{=escultura.f_escultura_id}}</h3>
<hr>
<img class="img-thumbnail" width="500px" src="{{=URL('download', args=escultura.f_escultura_imagen)}}" />
 </center>

<hr>

<!--
<center>
  <div>
    <button class="button1" data-toggle="collapse" data-target="#listen" onclick="document.getElementById('demo').play()"><span class="glyphicon glyphicon-bullhorn"></span> Reproducir texto</button>
      <div id="listen" class="collapse" class="container-fluid">
        <button onclick="document.getElementById('demo').play()"><span class="glyphicon glyphicon-play"></span></button>
        <button onclick="document.getElementById('demo').pause()"><span class="glyphicon glyphicon-pause"></span></button>
        <button onclick="document.getElementById('demo').volume-=0.1"><span class="glyphicon glyphicon-volume-down"></span></button>
        <button onclick="document.getElementById('demo').volume+=0.1"><span class="glyphicon glyphicon-volume-up"></span></button>
      </div>
  </div>
</center>
-->

<p>{{=escultura.f_escultura_descripcion}}</p>

<hr>
<ul class="media-list">
<li class="media">
<div class="media-left">
  <a href="{{=URL('ArtistaController', 'show', args=artista.id)}}">
    <img class="media-object" width="75px" src="{{=URL('download', args=artista.f_artista_mini)}}" />
  </a>
</div>
<div class="media-body">
  <strong>Autor: </strong> {{=artista.f_artista_nombre}}<br>
  <strong>Temática: </strong> {{=artista.f_artista_tematica.capitalize()}}<br>
  <strong>Técnica: </strong> {{=artista.f_artista_tecnica}}<br>
  <strong>Material: </strong> {{=artista.f_artista_materiales}}<br>

</div>
</li>
</ul>

         </div>
    </div>
</div>
