{{extend 'layout_general.html'}}
<h1>{{=artista.f_artista_nombre}}</h1>
<hr>
<center>
<img class="img-thumbnail" width="670px" src="{{=URL('download', args=artista.f_artista_imagen)}}" />
</center>
<hr>

<h3>Biografía</h3>
{{=artista.f_artista_descripcion}}

<hr>
<center><a href="{{=URL('escultura', args=artista.id)}}"><button class="button3">Ver Escultura 2016  </button></a></center>

<!--=============================== BOTON COMPARTIR =======================================================================-->
 <center>
<br>
        <button class="button1" data-toggle="collapse" data-target="#share"><span class= "glyphicon glyphicon-share"></span> Compartir</button>
      <div id="share" class="collapse" class="container-fluid">
 
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://industria.chaco.gov.ar/enlaces/informatorio" class="facebook" target="_blank">
            <img src= "/esQltoR/static/images/facebook.png">&nbsp;&nbsp;
        </a>

        <a href="https://twitter.com/intent/tweet?url=http://industria.chaco.gov.ar/enlaces/informatorio; ?>&text=Estoy usando esQltoR en el ; ?>%20por%20@ayudawp" class="twitter" target="_blank">
    <img src= "/esQltoR/static/images/twitter.png">&nbsp;&nbsp;
        </a>
        <a href="https://plus.google.com/share?url=http://industria.chaco.gov.ar/enlaces/informatorio">
            <img src= "/esQltoR/static/images/gplus-32.png">
        </a>
      </div>
</center>
     

<!--=============================== END BOTON COMPARTIR =======================================================================-->

</footer>
<hr>
