{{extend 'layout_general.html'}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2" >
                <h1 style="text-align: center;">
                    <a>Bienal 2016</a>
                </h1>
                <h2>
                    Material trabajado: Mármol
                </h2>
                <h3>
                    Jurado
                </h3>
                <ul class="media-list">
                <li class="media">
                <div class="media-left">
                    <img class="media-object" width="100px" alt="León Saavedra Geuer" src="{{=URL('static', 'images', args='Jurado1.jpg')}}">
                </div>
                <div class="media-body">
                <h4>León Saavedra Geuer</h4>
                <strong>¿Quién es?</strong><br>
                    León Saavedra Geuer es de nacionalidad Boliviana, nacido en la ciudad de Culemborg en Holanda en 1958. Es la quinta generación de vitralistas, sus primeras aproximaciónes al arte fueron a través de su madre: María Sunniva Geuer, pintora y vitralista, quien le enseñó las técnicas del vitral y del gobelino.
                </div>
                </li>
                <hr>
                <li class="media">
                <div class="media-left">
                    <img class="media-object" width="100px" alt="Aquiles Jiménez" src="{{=URL('static', 'images', args='Jurado2.jpg')}}">
                </div>
                <div class="media-body">
                <h4>Aquiles Jiménez</h4>
                <strong>¿Quién es?</strong><br>
                    Nació el 14 de mayo en Santo Domingo del Roble de Santa Bárbara de Heredia, Costa Rica. Cuando cursaba sus estudios de segunda enseñanza, conoció al escultor Olger Villegas. Quien lo inicio en la escultura.
                </div>
                </li>
                <hr>
                <li class="media">
                <div class="media-left">
                    <img class="media-object" width="100px" alt="Diego Santurio" src="{{=URL('static', 'images', args='Jurado3.jpg')}}">
                </div>
                <div class="media-body">
                <h4>Diego Santurio</h4>
                <strong>¿Quién es?</strong><br>
                    Hijo de metalúrgico, siempre estuvo en contacto con el taller donde adquirió el lenguaje de diferentes materiales. Tuvo una adolescencia marcada por una tendencia al desarrollo artístico en varias actividades.
                </div>
                </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
