{{extend 'layout_general.html'}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2" >
                <h2><a>¿Qué es la Bienal?</a></h2>

                <p align="justify">La Bienal es un concurso de esculturas organizado por la fundación Urunday, desde el año 1988 en la ciudad de Resistencia.</p>
                <p >En cada edición, entre 10 y 15 escultores seleccionados deben realizar su obra en siete días, al aire libre y a la vista de los visitantes.</p>
                <p>Al finalizar la semana, el sábado por la noche, se lleva a cabo una ceremonia de clausura, con su correspondiente entrega de premios.</p>

                <hr>

                <h2><a>¿Y qué pasa con las Esculturas?</a></h2>
                <p align="justify">Las mismas son expuestas por 60 días de finalizado el concurso y luego son distribuidas por la ciudad de Resistencia, creando un patrimonio cultural sin precedentes y transformando a la misma en un moderno y único museo al aire libre.</p>

                <hr>
                <h2>
                    <a>Un poco de Historia</a>
                </h2>
                <p align="justify">
                    Si bien el evento en sus principios era de carácter local y su material protagonista era la simbólica madera del Urunday, con el paso del tiempo su importancia fue creciendo, tanto como la lista de materiales que edición a edición se van agregando.
                </p>
                <p>
                    Tradicionalmente, en sus primeros tiempos, el evento tenía lugar en la plaza 25 de Mayo, del centro de la ciudad, pero desde el 2006, con el inevitable crecimiento de sus visitantes, se trasladó al Paseo Costanero del Río Negro.
                </p>
                <hr>
                <center><a href="{{=URL('bienal2016.html')}}"><button class="button3">Ver Bienal 2016</button></a></center> 
            </div>
        </div>
    </div>
